/** @format */

.message_floating_btn {
  color: aliceblue !important;
  background-color: royalblue !important;
  position: absolute !important;
  bottom: 10px !important;
  right: 10px;
  z-index: 2 !important;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px !important;
  border-radius: 50px !important;
}
.user_search_section {
  position: relative;
}

.user_search_icon {
  position: absolute;
  left: 5px;
  top: 16px;
}
.search_input {
  width: 100%;
  border-radius: 5px !important;
  margin: 3px 0 !important;
  border: 1px solid var(--border-colors) !important;
  font-weight: 400 !important;
  font-size: 0.8rem !important;
  padding-left: 22px !important;
}
.modal_user_search_result_section {
  margin-top: 7px;
  width: 100%;
  height: 56vh;
}
.empty_modal_user_list {
  width: 100%;
  height: 56vh;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 0.2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal_user_list {
  /* border: 1px solid red; */
  width: 100%;
  height: 56vh;
}
.user_tags_section {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.user_tag_btn {
  border: 1px solid royalblue !important;
  padding: 0 !important;
  font-size: 0.8rem !important;
  font-weight: 400 !important;
  background-color: royalblue !important;
  color: aliceblue !important;
  border-radius: 10px !important;
  width: fit-content !important;
  height: fit-content !important;
  padding: 3px 10px !important;
  margin: 3px !important;
}
.btn_close_icon {
  margin-left: 12px !important;
}
.empty_chat_list {
  width: 100%;
  height: 92vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chat_image {
  width: 150px;
  height: 150px;
}
.empty_chat_text {
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.3px;
  color: #34495e;
}
.chat_card_container {
  border: 1px solid rgb(220, 220, 220);
  margin: 3px 0;
  max-width: 350px;
  width: 100%;
  border-radius: 5px;
  padding: 7px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.chat_card_info_section {
  margin-left: 5px;
  width: 100%;
}
.chat_card_info_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chat_card_avatar {
  width: 40px !important;
  height: 40px !important;
}
.chat_name {
  font-size: 0.825rem;
  font-weight: 500;
}
.chat_card_admin_tag {
  font-weight: 400;
  color: royalblue;
  font-size: 0.6rem;
  padding-left: 5px;
}
.latest_msg_container {
  font-size: 0.7rem;
  font-weight: 400;
  color: #34495e;
}
.menu_item {
  font-weight: 400;
  font-size: 0.8rem;
}
.chat_box_app_header {
  padding: 7px;
}
.chat_box_app_header_text {
  font-size: 1.05rem;
  font-weight: 500;
  margin-bottom: 5px;
}

.chat_box_app_header_search_section {
  margin: 5px 0;
  position: relative;
  max-width: 450px;
  width: 100%;
}
.chat_search_input {
  border: 1px solid #657586 !important;
  outline: none;
  border-radius: 15px !important;
  font-size: 0.8rem !important;
  font-weight: 400 !important;
  padding-left: 22px !important;
}
.search_chat_icon {
  position: absolute;
  left: 5px;
  top: 12px;
}
.chat_card_section {
  width: 100%;
  height: 87vh;
  overflow: scroll;
  padding: 5px;
}
.chat_modal_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chat_modal_header_title {
  font-size: 0.875rem;
  font-weight: 500;
  color: #34495e;
}
.chat_modal_close_btn {
  background-color: transparent !important;
}
.create_chat_modal_body {
  width: 100%;
  height: 60vh !important;
  padding: 2px;
  overflow: scroll;
}
.modal_chat_user_search_section {
  position: relative;
  margin-top: 5px;
}
.modal_seach_input {
  font-weight: 400 !important;
  font-size: 0.8rem !important;
  padding-left: 22px !important;
}
.modal_seach_input:focus {
  box-shadow: none !important;
  border: 1px solid #34495e !important;
}
.search_modal_icon {
  position: absolute;
  top: 12px;
  left: 5px;
}
.empty_user_section {
  font-size: 0.8rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 59vh;
  overflow: scroll;
}
.select_user_section {
  display: flex;
  flex-wrap: wrap;
}
.select_user_tag {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 12px;
  border-radius: 10px;
  font-size: 0.75rem;
  font-weight: 400;
  color: aliceblue;
  background-color: royalblue;
  margin: 3px;
}
.close_icon {
  margin-left: 7px;
}
.chat_modal_group_create_btn {
  font-weight: 400 !important;
  font-size: 0.8rem !important;
  background-color: royalblue !important;
  color: aliceblue;
  letter-spacing: 0.2px !important;
}
.chat_search_page {
  width: 100%;
  height: 99.5vh;
}
.empty_chat_search_result {
  width: 100%;
  height: 87vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 0.8rem;
  color: #34495e;
}

@media only screen and (max-width: 699px) {
  .chat_card_section {
    width: 100%;
    height: 85vh;
    overflow: scroll;
    padding: 5px;
    overflow: scroll;
  }
  .chat_box_app_header {
    padding: 12px;
    position: relative;
  }
  .chat_box_app_header_text {
    display: none;
  }
  .chat_box_app_header_search_section {
    position: absolute;
    top: 0;
    left: 0;
  }
  .chat_search_page {
    width: 100%;
    height: 92.5vh;
  }
  .empty_chat_search_result {
    width: 100%;
    height: 84.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 0.8rem;
    color: #34495e;
  }
}
