/** @format */

.profile_image_section {
  max-width: 320px;
  width: 100%;
  margin: 15px auto;
}
.image_settings {
  padding: 7px;
}
.image_settings_header {
  font-size: 0.875rem;
  font-weight: 500;
}
.image_container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0px auto;
  position: relative;
}
.profile_avatar {
  width: 150px !important;
  height: 150px !important;
  border-radius: 50% !important;
}
.image_upload_btn,
.image_close_btn {
  position: absolute !important;
  left: 53px !important;
  bottom: 5px !important;
  background-color: rgba(0, 0, 0, 0.699) !important;
  color: aliceblue !important;
}
.profile_info_section {
  margin-top: 10px;
}
.profile_main_box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.email_container {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 48px;
}
.profile_name_container {
  width: fit-content;
  margin-left: 7px;
}
.name {
  font-size: 1.2rem;
  font-weight: 500;
}
.username {
  font-size: 0.675rem;
  font-weight: 400;
  color: rgb(126, 125, 125);
  margin-left: 5px;
}
.edit_btn {
  background-color: transparent !important;
  color: royalblue !important;
  transition: all 0.2s linear;
  /* margin-left: 2px; */
  width: fit-content !important;
  height: fit-content !important;
  margin-top: 6px;
  padding: 0 !important;
}
.email_icons {
  font-size: 1rem;
  color: rgb(130, 130, 130);
}
.email {
  font-size: 0.7rem;
  color: rgb(156, 156, 156);
  font-weight: 500;
  margin-left: 3px;
}
.followers_btn {
  padding: 0 !important;
  width: fit-content !important;
  height: fit-content !important;
  background-color: transparent !important;
  margin-right: 5px;
  margin-top: 5px;
  font-size: 0.8rem !important;
  font-weight: 500 !important;
  color: rgb(130, 130, 130);
  transition: all 0.2s linear;
}
.flwr_count {
  color: black !important;
}
.followers_btn:hover {
  text-decoration: underline !important;
  color: black;
}
.nested_route_container {
  max-width: 480px;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0px auto;
  padding: 3px;
}
.profile_navlink {
  width: 33.3%;
  text-align: center;
  font-size: 0.95rem;
  font-weight: 400;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  list-style: none;
  letter-spacing: 0.2px;
  transition: all 0.2s linear;
}
.profile_navlink:hover {
  background-color: rgba(65, 105, 225, 0.104);
}
.active_profile_navlink_ {
  color: royalblue;
  background-color: rgba(65, 105, 225, 0.119);
}
.profile_modal_body {
  border: 1px dotted black;
  width: 150px;
  height: 150px;
  border-radius: 5px;
  margin: 0px auto;
  border-radius: 50%;
  position: relative;
}
.upload_icon {
  cursor: pointer;
  font-size: 4rem;
  color: rgb(48, 48, 48);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.preview_image_avatar {
  width: 150px !important;
  height: 150px !important;
}
.upload_btn {
  background-color: royalblue !important;
  color: aliceblue !important;
  font-size: 0.8rem !important;
  font-weight: 400 !important;
  width: 100px !important;
  height: 35px !important;
}
.disable_upload_btn {
  background-color: rgb(131, 158, 237) !important;
  cursor: no-drop !important;
}
.task_route_container {
  width: 100%;
  height: 92vh;
}
.empty_profile_task_container {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
  color: #34495e;
}
.scroll_task_route_container {
  width: 100%;
  height: 87vh;
  overflow: scroll;
}
/** @format */
.settings_image_container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 10px auto;
}
.account_settings_container {
  border: 1px solid rgba(0, 0, 0, 0.06);
  margin-top: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.settings_header_title {
  font-size: 1rem;
  font-weight: 500;
  padding-left: 5px;
}
.settings_header_button {
  background-color: transparent !important;
  transition: all 0.2s linear;
}
.settings_header_close_btn_icon {
  color: crimson !important;
}
.account_settings_section {
  margin-top: 10px;
  padding: 7px;
}
.settings_sub_header {
  font-size: 1.02;
  font-weight: 500;
  color: #070707;
  margin-right: 10px;
}
.settings_profile {
  font-size: 0.85rem;
  font-weight: 400;
  color: #2f3542;
}
.setting_edit_btn {
  background-color: transparent !important;
  padding: 0 !important;
  width: fit-content !important;
  height: fit-content !important;
  font-size: 1rem !important;
  color: royalblue !important;
}

.accordion_section {
  margin-top: 10px;
}
.update_btn {
  width: 90px !important;
  height: 30px !important;
  background-color: royalblue !important;
  color: aliceblue !important;
  font-size: 0.8rem !important;
  font-weight: 400 !important;
  border-radius: 5px !important;
  margin: 7px 0 !important;
}
.cancel_btn {
  background-color: crimson !important;
  margin: 0 5px !important;
}
.details_section {
  width: 100%;
  padding: 10px;
}
.details_section_header {
  font-size: 0.875rem;
  font-weight: 500;
}
.profile_details_info {
  margin-top: 5px;
}
.settings_name_section {
  display: flex;
  align-items: center;
}
.settings_profile_privacy_header {
  font-size: 0.975rem;
  font-weight: 500;
}
.settings_profile_privacy {
  line-height: 18px;
  margin: 12px 0;
}
.settings_profile_privacy_subheader {
  font-size: 0.7rem;
  font-weight: 400;
  color: #34495e;
}
.radion_input_section {
  margin: 7px 0;
}
.radio_input {
  font-size: 12px !important;
  font-weight: 500 !important;
}
.profile_note_page {
  width: 100%;
  height: 85vh;
  overflow: scroll;
}
.profile_empty_feed {
  width: 100%;
  height: 47vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 400;
  color: #2f3542;
  letter-spacing: 0.2px;
}
.active_profile_navlink {
  border-radius: 0px;
  border-bottom: 2px solid royalblue;
  color: royalblue;
}
