/** @format */

.left_navbar_container {
  border-right: 1px solid rgba(218, 216, 216, 0.512);
  max-width: 200px;
  width: 100%;
  height: 100%;
}
.left_navbar_logo_container {
  width: fit-content;
  height: fit-content;
  margin: 0px auto;
}
.left_navbar_logo {
  width: 40px;
  height: 40px;
}
.nav_link {
  width: fit-content;
  height: fit-content;
  margin: 12px auto;
  font-size: 1.7rem;
  padding: 10px;
  border-radius: 50%;
  color: rgb(102, 102, 103);
  transition: all 0.01s linear;
}
.nav_link:hover {
  background-color: rgba(65, 105, 225, 0.129);
  color: #1e90ff;
}
.active_nav_item {
  color: #1e90ff !important;
}
