/** @format */

.follower_following_page_container {
  width: 100%;
  height: 99.5vh;
}
.tab_section {
  width: 100%;
  height: 7vh;
  display: flex;
  align-items: center;
  padding: 3px;
}
.follower_tab_btn {
  width: 100% !important;
  height: 5vh !important;
  font-weight: 400 !important;
  font-size: 0.85rem !important;
  letter-spacing: 0.2px !important;
  background-color: transparent !important;
  color: royalblue !important;
  transition: all 0.2s linear !important;
}
.active_follower_tab_btn {
  background-color: royalblue !important;
  color: aliceblue !important;
  transition: all 0.2s linear !important;
}
.skeleton_loader_section {
  height: 85vh;
  overflow: scroll;
}
.empty_follower_following_list {
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 0.2px;
}
.pagination_btn_section {
  width: 100%;
  text-align: center;
}
@media only screen and (max-width: 900px) and (min-width: 700px) {
  .follower_following_page_container {
    width: 100%;
    height: 99.5vh;
  }
}
@media only screen and (max-width: 699px) {
  .follower_following_page_container {
    width: 100%;
    height: 92.5vh;
  }
}
