/** @format */

.user_card {
  border: 1px solid rgb(215, 215, 215);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  max-width: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user_info_section {
  width: 100%;
  display: flex;
  align-items: center;
}
.user_card_avatar {
  width: 35px !important;
  height: 35px !important;
  margin-right: 7px !important;
}
.user_card_name {
  font-size: 0.82rem;
  font-weight: 500;
  margin-right: 5px;
}
.user_card_username {
  font-size: 0.7rem;
  font-weight: 400;
  color: rgb(138, 139, 145);
}
.user_card_flw_btn {
  background-color: transparent !important;
  color: royalblue !important;
  font-size: 1.2rem !important;
}
.flwed {
  color: #2ed573 !important;
}
