/** @format */

.user_card {
  border: 1px solid rgb(237, 234, 234);
  border-radius: 5px;
  padding: 7px;
  display: flex;
  align-items: center;
  margin: 7px 0;
  cursor: pointer;
}
.user_info_section {
  display: flex;
  align-items: center;
  width: 100%;
}
.user_card_avatar {
  width: 27px !important;
  height: 27px !important;
  margin-right: 3px;
}
.user_card_name {
  font-size: 0.785rem;
  font-weight: 500;
}
.user_card_username {
  font-weight: 500;
  font-size: 0.5rem;
  margin-left: 2px;
  color: rgb(171, 169, 167);
}
.user_card_flw_btn {
  margin: 0px 3px !important;
  font-size: 1rem !important;
  padding: 0 !important;
  background-color: transparent !important;
}
.flwed {
  color: #2ed573 !important;
}
.message_icon {
  color: #1e90ff;
}
