/** @format */

:root {
  --primary-background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  --disable-background-image: linear-gradient(120deg, #99e6ec 0%, #8cb7f4 100%);
  --border-colors: #dfe4ea;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.2s linear;
}

.auth_container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}
.auth_box_one {
  width: 40vw;
  height: 100vh;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  position: relative;
}
.auth_box_two {
  width: 50vw;
  height: 100vh;
  position: relative;
}
.box_two_header {
  width: 100%;
  height: 7vh;
  display: flex;
  align-items: center;
  padding: 5px;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  display: none;
}
.auth_logo {
  width: 33px;
  height: 33px;
}
.auth_text {
  font-size: 0.825rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-left: 7px;
  text-transform: uppercase;
}
.box_one_header {
  font-size: 1.01rem;
  font-weight: 400;
  color: aliceblue;
  padding: 3px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: 5px;
}
.box_one_text {
  font-size: 2.5rem;
  font-weight: 400;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 40px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.box_one_subtext {
  color: rgba(240, 248, 255, 0.603);
  font-size: 0.8rem;
  font-weight: 400;
  width: 300px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 0;
  letter-spacing: 1px;
}
.box_one_subtext_register {
  color: rgba(240, 248, 255, 0.603);
  font-size: 0.8rem;
  font-weight: 400;
  width: 300px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-52%, -50%);
  padding: 5px 0;
  letter-spacing: 1px;
  line-height: 18px;
}

.auth_box {
  max-width: 420px;
  width: 100%;
  padding: 10px;
  border-radius: 7px;
  border: 1px solid var(--border-colors);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header_section {
  margin: 7px 0;
}

.auth_header_text {
  font-size: 1.8rem;
  font-weight: 400;
}
.auth_input {
  width: 100%;
  border-radius: 5px !important;
  margin: 3px 0 !important;
  border: 1px solid var(--border-colors) !important;
  font-weight: 400 !important;
  font-size: 0.8rem !important;
}
.textarea,
.note_textarea {
  width: 100%;
  resize: none;
  border-radius: 5px !important;
  margin: 3px 0 !important;
  border: 1px solid var(--border-colors) !important;
  font-weight: 400 !important;
  font-size: 0.8rem !important;
}
.note_textarea {
  height: 200px !important;
}
.auth_link_section {
  font-size: 0.6rem;
  font-weight: 400;
  text-align: right;
  margin: 3px 0;
  letter-spacing: 0.2px;
}
.auth_link {
  color: royalblue;
  font-weight: 500;
}
.auth_btn,
.disable_auth_btn {
  width: 100% !important;
  height: 33px !important;
  font-size: 0.8rem !important;
  font-weight: 400 !important;
  background-color: #6397e1 !important;
  color: aliceblue;
  border-radius: 5px !important;
  margin: 5px 0;
}
.disable_auth_btn {
  background-color: #9ec3f7 !important;
  cursor: no-drop !important;
}
.err_message {
  font-size: 0.65rem;
  font-weight: 400;
  color: crimson;
}

.container {
  width: 70vw;
  height: 100vh;
}
.night_mode {
  background-color: #2f3542 !important;
  color: #ced6e0 !important;
}
.header_container {
  height: 7vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.app_container {
  border: 1px solid rgba(218, 216, 216, 0.263);
  width: 100%;
  height: 99.5vh;
  display: flex;
  justify-content: flex-start;
}

.logo_section {
  width: 30px;
  height: 30px;
}
.logo {
  width: 30px;
  height: 30px;
  margin-left: 5px;
}
.header_navbar_container {
  display: none;
}

.nav_link_container {
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
}
.user_avatar {
  width: 30px !important;
  height: 30px !important;
  cursor: pointer !important;
}
.search_btn {
  background-color: transparent !important;
  width: fit-content !important;
  height: fit-content !important;
  padding: 5px 0px !important;
}
.mode_changer_btn {
  background-color: transparent !important;
  font-size: 0.85rem;
  margin-right: 5px;
  width: fit-content !important;
  height: fit-content !important;
  padding: 7px;
  border-radius: 50% !important;
  padding: 5px 0px !important;
}
.sun {
  color: orange;
}
.moon {
  color: rgb(214, 214, 214);
}
.menu_btn {
  display: none !important;
}
.night_mode_icon {
  color: aliceblue !important;
}
.profile_container,
.search_container,
.skeleton_profile_container,
.notes_page,
.note_analytics_page_container {
  width: 100%;
  height: 99vh;
}
.profile_container {
  overflow: scroll;
}
.file_input {
  display: none;
}
.modal_title_section {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
}
.modal_title {
  font-size: 0.8rem !important;
  font-weight: 500 !important;
}
.create_chat,
.close_modal_chat {
  font-size: 0.8rem !important;
  font-weight: 400 !important;
  color: aliceblue !important;
  background-color: royalblue !important;
  margin: 0 3px !important;
}
.close_modal_chat {
  background-color: crimson !important;
}
.back_btn {
  background-color: transparent !important;
}
.search_form_container {
  padding: 12px;
  height: 99.5vh;
}
.search_result_container {
  width: 100%;
  height: 91.5vh;
  overflow: scroll;
  padding: 7px 0;
}
::-webkit-scrollbar {
  display: none;
  background-color: transparent;
}
.empty_search_result {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.95rem;
  font-weight: 400;
  letter-spacing: 0.2px;
  color: #8c8e93;
  height: 92vh;
}
.drawer_header {
  font-size: 0.85rem !important;
  font-weight: 500 !important;
  margin: 0px !important;
  padding-bottom: 0px !important;
}
.drawer_body {
  margin: 0px !important;
  padding: 0px !important;
}
.home_container,
.empty_task_container,
.settings_container,
.empty_setting_page {
  width: 100%;
  height: 99.5vh;
  position: relative;
  overflow: scroll;
}
::-webkit-scrollbar {
  display: none;
  background-color: transparent;
}
.delete {
  color: crimson !important;
}
.task_card_container {
  /* display: flex;
  flex-wrap: wrap; */
  height: 93vh;
  width: 100%;
  overflow: scroll;
}
::-webkit-scrollbar {
  display: none;
  background-color: transparent;
}
.modal_button {
  width: 90px !important;
  height: 30px !important;
  color: aliceblue !important;
  background-color: royalblue !important;
  font-size: 0.8rem !important;
  font-weight: 400 !important;
}

.found_page {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.error_text {
  text-align: center;
  font-weight: 500;
}
.error_btn {
  margin: 5px auto;
  width: 100px !important;
  height: 30px !important;
  color: aliceblue !important;
  background-color: royalblue !important;
  font-size: 0.8rem !important;
  font-weight: 400 !important;
}
.notes_page {
  position: relative;
}
.task_form_body_section {
  height: 63vh;
  overflow: scroll;
  padding: 2px;
}
.delete_btn {
  color: aliceblue !important;
  font-weight: 400 !important;
  font-size: 0.8rem !important;
  background-color: crimson !important;
}
.header_men_btn {
  background-color: transparent !important;
}
.header_menu_item {
  font-size: 0.8rem !important;
  font-weight: 400;
}
.message_conatiner {
  width: 100%;
  height: 99.5vh;
  position: relative;
  overflow: scroll;
}
.drawer_header {
  display: flex !important;
  justify-content: space-between !important;
  align-items: flex-start !important;
}
.drawr_profile_section {
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 7px;
  margin-right: 3px;
}
.drawer_profile_avatar {
  width: 33px !important;
  height: 33px !important;
  margin-right: 5px;
}
.drawer_profile_info_section {
  width: 100%;
  line-height: 13px;
}
.drawer_name {
  font-size: 0.875rem;
  font-weight: 500;
  color: #2f3542;
}
.drawer_profile_username {
  font-size: 0.7rem;
  font-weight: 400;
  color: #8c8e93;
}
.drawer_close_btn {
  /* background-color: transparent !important; */
  font-size: 1.2rem !important;
  padding: 7px !important;
}
@media only screen and (max-width: 900px) and (min-width: 700px) {
  .container {
    width: 80vw;
  }
  .app_container {
    height: 99.5vh;
  }
}

@media only screen and (max-width: 699px) {
  .auth_box_one {
    display: none;
  }
  .auth_box_two {
    width: 100%;
  }
  .app_container {
    height: 92vh;
  }
  .container {
    width: 100%;
  }
  .left_navbar_container {
    display: none;
  }
  .menu_btn {
    display: inline-block !important;
    background-color: transparent !important;
    color: #8c8e93;
    margin-left: 13px;
    border-radius: 7px;
  }
  .profile_container,
  .search_container,
  .skeleton_profile_container,
  .home_container,
  .empty_task_container,
  .settings_container,
  .empty_setting_page,
  .notes_page,
  .note_analytics_page_container,
  .message_conatiner {
    width: 100%;
    height: 92.5vh;
    overflow: scroll;
  }

  .profile_container {
    width: 100%;
    height: 92.5vh;
    overflow: scroll;
  }
  .header_box {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .header_navbar_container {
    display: block;
    border-bottom: 1px solid rgba(218, 216, 216, 0.263);
    border-right: 1px solid rgba(218, 216, 216, 0.263);
    width: 100%;
    height: 7vh;
    display: flex;
    align-items: center;
  }
  .header_box_secion {
    width: 100%;
    height: 7vh;
    display: flex;
    align-items: center;
  }
  .search_result_container {
    height: 83.5vh;
  }
  .empty_search_result {
    height: 83.5vh;
  }
  .search_form_container {
    height: 92.5vh;
  }
  .message_floating_btn {
    display: none !important;
  }
  .box_two_header {
    display: block;
    width: 100%;
    height: 7vh;
    display: flex;
    align-items: center;
    padding: 5px;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  }
}
