/** @format */

.search_input_container {
  position: relative;
}
.search_input_icon {
  position: absolute;
  left: 5px;
  top: 13.5px;
}
.input_search {
  padding-left: 23px !important;
  font-size: 0.8rem !important;
  font-weight: 400 !important;
}
